---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "bourbon", "neat";
@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

body {

    background: $white url(../images/sax-background.png) no-repeat fixed 70vw top;
    background-size: contain;
    font-family: $font-serif;
    color: $charcoal;    
    
    @include media($mobile) {
       background-size: auto 93vh;
       background-position: 80vw top;
    }
}

a {
    color: $blue;
    text-decoration: none;
    
    &:hover {
        color: $dark-blue;
    }
}

h1 {
    font-family: $font-serif;
}

.main-content {
    @include outer-container;
    min-height: 100%;
}

@import "partials/typography";
@import "syntax-highlighting";
@import "partials/nav";
@import "partials/header";
@import "partials/footer";
@import "partials/title";
@import "partials/calendar";
@import "partials/post-list";
@import "partials/post";
@import "partials/post-nav";
@import "partials/portfolio";
