<header class="header-main site-header">
    <a class="site-title" href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
	<input id="menu-toggle1" type="checkbox" class="menu-toggle">
	<label for="menu-toggle1" class="menu-button"><span class="menu-button-lines"></span><span class="menu-button-text"></span></label>

    <nav class="nav-top site-nav">
      <ul>
        {% for page in site.pages %}
          {% if page.title %}
        <li>
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
</header>
