//Primary Font: Source Sans Pro 
//Directly from Adobe ... https://github.com/adobe-fonts/source-serif-pro

$fontName: "SourceSerifPro";
$fontFamilyName: "Source Serif Pro"; 
$location: "../fonts/#{$fontName}";

//LIGHT WEIGHT
@font-face {
	font-family: "#{$fontFamilyName}";
	src: url("#{$location}/#{$fontName}-Light.otf.woff") format("woff"),
	 	 url("#{$location}/#{$fontName}-Light.otf") format("opentype");
	font-weight: normal;
	font-weight: 300;
    font-style: lighter; 
}

//REGULAR WEIGHT
@font-face {
	font-family: "#{$fontFamilyName}";
	src: url("#{$location}/#{$fontName}-Regular.otf.woff") format("woff"),
	 	 url("#{$location}/#{$fontName}-Regular.otf") format("opentype");
	font-weight: normal;
	font-weight: 400;
    font-style: normal; 
}
	
//BOLD WEIGHT
@font-face {
	font-family: "#{$fontFamilyName}";
	src: url("#{$location}/#{$fontName}-Bold.otf.woff") format("woff"),
		 url("#{$location}/#{$fontName}-Bold.otf") format("opentype");
	font-weight: bolder;
	font-weight: 700;
    font-style: normal; 
}

//BLACK WEIGHT
@font-face {
	font-family: "#{$fontFamilyName}";
	src: url("#{$location}/#{$fontName}-BLACK.otf.woff") format("woff"),
		 url("#{$location}/#{$fontName}-BLACK.otf") format("opentype");
	font-weight: bolder;
	font-weight: 800;
    font-style: normal; 
}