.header-main, .header-title {
    
    h1 {
        overflow: hidden;
        background: url(../images/nameplate.svg) no-repeat;
        background-size: contain;
        text-indent: 110%;
        white-space: nowrap;
        
        &.no-logo {
            background-image: none;
        }
    }
}

.main-page h1 {
    background-image: none;
}

.header-main {
    border-bottom: $structure-border;
    padding: 0; 
    background: $trans-white;
    height: 3.5em;
    overflow: hidden;

    @include media($mobile) {
        height: 3em;
    }

    h1 {
        position: absolute;
        top: spacer(.25);
        left: spacer(1);
        height: 3em;
        width: 13em;

        @include media($mobile) {
            top: 0;
            background: $trans-white url(../images/initials.svg) no-repeat right 0 bottom 0;
            margin: 0;
            background-size: 2.5em;
            height: 2.5em;
            width: 2.5em;         
        }
    }
}

