.menu-toggle {
    position: absolute;
    left: -110%;
}

.menu-button {
    position: absolute;
    top: spacer(.5);
    left: spacer(1);
    display: none;
    padding: spacer(.5) 0;
    height: 3em;
    color: $grey;
    cursor: pointer;
    z-index: 99;
    
    &-lines {
        position: relative;
        top: -1em;
        display: inline-block;
        transition: all linear .3s;
        height: 2em;

        &:before, &:after {
            position: relative;
            display: inline-block;
            width: 1.25em;
            height: 2px;
            background-color: grey;
            content: "";
        }
        
        &:before {
            transform: rotate(45deg);                
        }
        
        &:after {
            left: -.45em;
            transform: rotate(-45deg);
        }
    }
    
    &-text {
        position: relative;
        display: inline-block;
        height: 2em;
        width: 6em;
        transition: all linear .3s;
        
        &:before, &:after {
            position: absolute;
            left: 0;
            font-size: 1.5em;
            text-align: left;
            font-weight: 100;
            letter-spacing: 2;
        }
        
        &:before {
            content: "navigate";        
            opacity: 1;
        }
    
        &:after {
            content: "close";        
            opacity: 0;
        }
    }    
}

@media (max-width: $mobile-width) {

    .menu-button {
        z-index: 99;
        display: block;        
    }
    
    .header-main {
        nav {
            position: absolute;
            padding: spacer(3) spacer(2) spacer(1);
            margin-left: spacer(-1);
            border-bottom: 1px solid $grey;
            text-align: left;
            background-color: $trans-white;
            visibility: hidden;
            z-index: 10;
            //transition: height linear 1s;   
            
            li {
                display: block;
                margin: spacer(.5) 0;
            }
    
            a {
                display: inline-block;
                padding: spacer(.5) 0;
            }
        } 
    }
    
    
    .nav-top {
        top: -150%;
        width: 100%;
        height: auto;
    }

    .menu-toggle:checked ~ .nav-top {
        top: 0;
        visibility: visible;
    }   

    .menu-toggle:checked ~ .menu-button .menu-button {

        &-lines {
            &:before {
                transform: translateX(.8em) rotate(45deg);                
            }            
        }
        
        &-text {
            &:before {
                opacity: 0;
            }
            
            &:after {
                opacity: 1;
            }                            
        }        
    }   
}