nav {
    text-align: right;
    
    li {
        display: inline-block;
        float: right;
        padding: spacer(1) spacer(1);
        height: 100%;
        border-left: 1px solid $mid-grey;
        
        &:hover {
            background-color: transparentize($dark-blue, .95);
        }
    }
    
    a {
        display: inline-block;
        width: 100%;
        color: $dark-blue;
        font-size: 1.5em;
        font-family: $font-serif;

        @media screen and (max-width: $mobile-width) {
            font-size: 1rem;
        } 
    }
}