$alert: #FE3D42;
$warning: #FFCA4C;
$success: #39EA28;

.portfolio {
    &-links {
        columns: 2;
        column-gap: 3rem;

        @media screen and (max-width: $mobile-width) {
            columns: 1;
        } 
    }
    
    &-item {
        padding: 1rem 0 2rem;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    
    &-thumbnail {
        background-color: white;
        max-height: 30em;
        overflow: hidden;
        margin-bottom: 1em;
                
        img {
            width: 100%;
            height: auto;
        }
    }
    
    &-description {
        font-size: .875em;
    }
}

section {
    overflow: auto;
}

.view-link {
    display: inline-block;
    font-size: 2em;
    border: 0 !important;
    margin-bottom: spacer(1.5);
    line-height: 1;
    
    .icon {
        top: .25em;
    }
}

a.b-success,
a.b-alert,
a.b-warning {
    border: 0;
    
    .icon {
        top: .2em;
    }
}

a.b-success {
    color: $success;
    
    &:hover {
        color: darken($success, 20%);
    }
}

a.b-alert {
    color: $alert;

    &:hover {
        color: darken($alert, 20%);
    }
}

a.b-warning {
    color: $warning;

    &:hover {
        color: darken($warning, 20%);
    }

}

@import 'portfolio/albums';
@import 'portfolio/figures';
@import 'portfolio/frames';