$alert: #FE3D42;
$warning: #FFCA4C;
$success: #39EA28;

.portfolio {
    
    &-links {
      .post-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        @supports (display: grid) {
          display: grid;
          grid-template-columns: 45% 45%;
          grid-column-gap: 2rem;          
        }

        @media screen and (max-width: $mobile-width) {
          display: block;
        }
      }
    }
    
    &-item {
        display: block;
        padding: 1rem 0 2rem;
        flex: 0 0 45%;
    }
    
    &-thumbnail {
        background-color: white;
        max-height: 30em;
        overflow: hidden;
        margin-bottom: 1em;
                
        img {
            width: 100%;
            height: auto;
        }
    }
    
    &-description {
      font-size: .875em;
      line-height: 1.25;
    }
}

section {
    overflow: auto;
}

.view-link {
    display: inline-block;
    font-size: 2em;
    border: 0 !important;
    margin-bottom: spacer(1.5);
    line-height: 1;
    
    .icon {
        top: .25em;
    }
}

a.b-success,
a.b-alert,
a.b-warning {
    border: 0;
    
    .icon {
        top: .2em;
    }
}

a.b-success {
    color: $success;
    
    &:hover {
        color: darken($success, 20%);
    }
}

a.b-alert {
    color: $alert;

    &:hover {
        color: darken($alert, 20%);
    }
}

a.b-warning {
    color: $warning;

    &:hover {
        color: darken($warning, 20%);
    }

}

.lightbox {
  &-grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    @media screen and (max-width: $mobile-width) {
      grid-template-columns: 50% 50%;
    }
    
    a {
      display: block;
      flex: 0 0 6em;
      margin-right: spacer(1);             
      margin-bottom: spacer(1);             
      border: 0;
    }
    
    label {
      font-size: .875em;
      line-height: 1.25;
      display: block;
    }
  }
  
  &-thumbnail {
    max-height: 8rem;
    border: 1px solid #f0f0f0;
  }
}

@import 'portfolio/albums';
@import 'portfolio/figures';
@import 'portfolio/frames';