.post-list {    
    li {
        @include span-columns(6);

        @include media($mobile) {
            @include span-columns(4);
            
            h2 {
                font-size: 1em;
            }
        }

        padding: spacer(1);
        font-family: $font-serif;
        position: relative;
        
        &:nth-of-type(even) {
            @include omega;
        }
        
        a {
            color: $dark-blue;
            
            &:hover {
                color: $blue;
            }
        }
    }
    
    h2 {
        font-weight: 300;
        font-size: 1.5em;
        line-height: 1.25;
    }
}