.post {
    margin: spacer(1) auto;
    padding: spacer(2);
    line-height: 1.5;
    max-width: $max-width;
    
    @media screen and (max-width: $mobile-width) {
        margin: spacer(1) 0;          
    }
    
    &-title {
        text-transform: capitalize;
    }
    
    &-header {
        overflow: auto;
        
        h1 {
            font-size: 2em;
            margin-bottom: spacer(.5);
            color: $charcoal;
        }        
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: spacer(1) auto;
    }
    
    &-content {
        margin: spacer(1) 0;        
    }
    
    p, ol, ul {
        margin-bottom: spacer(1.5);
    }
    
    ol {
        padding-left: spacer(2);
        list-style: decimal;
        
        li {
            margin-bottom: spacer(1);
        }
    }
    
    &-content {
        h1, h2 {
           font-family: $font-sans-serif;
        }
        
        h1 {
            font-size: 1.75rem;
            margin-top: spacer(2);
        }
        
        h2 {
            font-size: 1.5rem;
            margin-top: spacer(2);
        }
    }
    
    a {
        border-bottom: 1px solid transparentize($blue, .65);
        
        &:hover {
            border-bottom-color: transparentize($dark-blue, .25);
        }
    }    
}

figure {
    margin: spacer(1) 0;
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    figcaption {
        font-style: italic;
    }
}

// Code formatting
pre,
code {
    border: 1px solid $mid-grey;
    border-radius: 3px;
    background-color: $light-grey;
    margin: spacer(1) 0;
}

code {
    padding: spacer(.25);
}

pre {
    padding: spacer(.25) spacer(.5);
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight pre {
    font-family: $font-mono;
}

.post-image-right {
    float: right;
    padding:  0 spacer(1) spacer(1);
}

.icon {
    position: relative;
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.contact {
    font-size: 1.25em;
    margin: spacer(2) 0;
    
    a {
        border-bottom: 0;
    }
    
    li {
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: spacer(3);
        }
    }
    
    .icon {
        margin-right: .3em;
        top: .15em;
    }
}