.post-nav {
    width: 100%;
    padding: spacer(1) spacer(1) 0;
    max-width: $max-width;
    @include outer-container;

    li {
        display: block;
        padding: 0;
        border: 0;
        // @include span-columns(6);
        width: 50%;
        float: left;
        
        &:first-child {
            text-align: left;            
        }

        &:hover {
            background: none;
        }
    }
    
    a {
        font-size: 1rem;
        padding: 0;
        line-height: 1.25;
        position: relative;
        
        svg {
            fill: currentColor;
            top: .2em; 
        }         
    }
    
    .post + & {
        padding: 0 spacer(1) spacer(1);
    }
    
    .icon {
        margin-bottom: spacer(1);
        font-size: 1.25em;
        top: -.05rem;
    }
}

.icon {
    position: relative;
    height: 1em;
    width: 1em;
}

[rel="prev"] {
    
    .icon {
        float: left;
        margin-right: spacer(.5);
    }
}

[rel="next"] {
    .icon {
        float: right;
        margin-left: spacer(.5);
    }
}