.header-title {
    @include outer-container;
    padding: spacer(1) spacer(1) spacer(2);
    
    h1 {
        height: 8em;
        margin-bottom: spacer(1);
    }
    
    h2 {
        font-weight: 300;
        font-size: 3em;
        line-height: 1.25;
        color: $charcoal;
    }
}

@media (max-width: $mobile-width) {
    .header-title {
        h1 {
            height: 4em;
        }
        
        h2 {
            font-size: 1.75em;
        }
    }
    
}
