$light-grey: #F5F5F5;
$mid-grey: darken($light-grey, 10%);
$grey: darken($light-grey, 35%);
$blue: #4A90E2;
$dark-blue: #547788;

$trans-white: transparentize(white, .1);

$spacer-unit: 1rem;
$gutter: modular-scale(1, $spacer-unit, $golden);

$font-serif: Clarendon, Superclarendon, Georgia, serif;
$font-sans-serif: Proxima Nova, Avenir Next, sans-serif;

$mobile-width: 760px;
$mobile: new-breakpoint(max-width $mobile-width 4);

$structure-border: 1px solid $mid-grey;

$year: '2015';