$light-grey: #F5F5F5;
$mid-grey: darken($light-grey, 10%);
$grey: darken($light-grey, 35%);
$blue: #4A90E2;
$dark-blue: #547788;
$charcoal: #3A3B3D;
$white: #fff;

$trans-white: transparentize(white, .1);

$spacer-unit: 1rem;
$gutter: 1rem;

//$font-serif: Clarendon, Superclarendon, Georgia, serif;
$font-serif: Source Serif Pro, Georgia, serif;
$font-sans-serif: Proxima Nova, Helvetica, sans-serif;
$font-mono: Panic Sans, Courier, monospaced;

//For Max Width Posts
$max-width: 45em;
$mobile-width: 48em;
// $mobile: new-breakpoint(max-width $mobile-width 4);

$structure-border: 1px solid $mid-grey;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin outer-container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}