@import "bourbon", "neat";
@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

body {

    @include media($mobile) {
      background-position: right bottom;
    }
    background: $light-grey url(../images/sax-background.png) no-repeat fixed 120% top;
    background-size: contain;
    font-family: $font-serif;    
}

a {
    color: $blue;
    text-decoration: none;
    
    &:hover {
        color: $dark-blue;
    }
}

h1 {
    font-family: $font-serif;
}

.main-content {
    @include outer-container;
    min-height: 100%;
}

.post-list {    
    li {
        @include span-columns(6);

        @include media($mobile) {
            @include span-columns(4);
            
            h2 {
                font-size: 1em;
            }
        }

        padding: spacer(1);
        font-family: $font-serif;
        position: relative;
        
        &:nth-of-type(even) {
            @include omega;
        }
        
        a {
            color: $dark-blue;
            
            &:hover {
                color: $blue;
            }
        }
    }
    
    h2 {
        font-weight: 300;
        font-size: 1.5em;
        line-height: 1.25;
    }
}

.post-meta {
    transform: rotate(180deg);
}

@import "partials/nav";
@import "partials/header";
@import "partials/footer";
@import "partials/title";
@import "partials/calendar";
@import "partials/post";
@import "partials/post-nav";
@import "syntax-highlighting";