@import "bourbon", "neat";
@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

body {

    @include media($mobile) {
      background-position: right bottom;
    }
    background: $light-grey url(../images/sax-background.png) no-repeat fixed 120% top;
    background-size: contain;
    font-family: $font-serif;
    color: $charcoal;    
}

a {
    color: $blue;
    text-decoration: none;
    
    &:hover {
        color: $dark-blue;
    }
}

h1 {
    font-family: $font-serif;
}

.main-content {
    @include outer-container;
    min-height: 100%;
}

@import "partials/typography";
@import "syntax-highlighting";
@import "partials/nav";
@import "partials/header";
@import "partials/footer";
@import "partials/title";
@import "partials/calendar";
@import "partials/post-list";
@import "partials/post";
@import "partials/post-nav";
