---
layout: default
---
<nav class="post-nav">
    <ul>
        <li>
            {% if page.next %}
                <a href="{{page.next.url}}" rel="prev">
                    <svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-left"></use></svg>{{page.next.title}}</a>
            {% else %}
                <a href="/index.html" rel="prev"><svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-left"></use></svg>Posts</a>
            {% endif %}
        </li>
        <li>
            {% if page.previous %}
            <a href="{{page.previous.url}}" rel="next">
                <svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-right"></use></svg>{{page.previous.title}}</a>
            {% endif %}
        </li>
    </ul>
</nav>

<div class="post">

  <header class="post-header">
    <div class="post-meta">{{ page.date | date: "%b %-d, %Y"  }}</div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<nav class="post-nav">
    <ul>
        <li>
            {% if page.next and page.next.categories contains "blog" %}
                <a href="{{page.next.url}}" rel="prev">
                    <svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-left"></use></svg>{{page.next.title}}</a>
            {% else %}
                <a href="/index.html" rel="prev"><svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-left"></use></svg>Posts</a>
            {% endif %}
        </li>
        <li>
            {% if page.previous  and page.previous.categories contains "blog" %}
            <a href="{{page.previous.url}}" rel="next">
                <svg class="icon icon-chevron-thin-left"><use xlink:href="#icon-chevron-thin-right"></use></svg>{{page.previous.title}}</a>
            {% endif %}
        </li>
    </ul>
</nav>
